<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
</head>
<body>
    <h2><i>Add a new product here</i></h2>
    <form action="/products" method="POST">
        <label for="name"><i><b>Name: </b></i></label>
        <input type="text" name="name" id="name" placeholder="name">
        <label for="price"><i><b>Price: $</b></i></label>
        <input type="text" name="price" id="price" placeholder="(per unit)"> 
        <label for="category"><i><b>Category: </b></i></label>
        <select name="category" id="category">
            <% for (let category of categories) { %> 
                <option value="<%= category %>"><%= category %> </option>
            <% } %> 
        </select>
    <button>Submit</button>
    </form>
    <br>
    <a href="/products"><b><i>Cancel</i></b></a>
</body>
</html>