<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
</head>
<body>
    <h2><i>Add a new product here</i></h2>
    <form action="/products" method="POST">
        <label for="name"><i><b>Name: </b></i></label>
        <input type="text" name="name" id="name" placeholder="name">

        <label for="price"><i><b>Price: $</b></i></label>
        <input type="text" name="price" id="price" placeholder="(per unit)">
        
        <label for="category"><i><b>Category: </b></i></label>
        <select name="category" id="category">
            <option value="fruit"><i>fruit</i></option>
            <option value="veggies"><i>veggies</i></option>
            <option value="dairy"><i>dairy</i></option>
        </select>

    <button>Submit</button>
    </form>
</body>
</html>